<div class="card text-dark mb-4">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{image}}" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><a href="{{link}}" class="text-dark" target="_target">{{ellipsis title 100}}</a>
          <small>{{date timestamp 'MMM Do, h:mm a'}}</small></h5>
      </div>
    </div>
  </div>
</div>